body{
    background-color: black;
}

div{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    padding: 0px 15px 0px 15px;
}

a{
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
    color: whitesmoke;
}